.button {
  height: 50px;
  font-weight: 500;
  background: #fff;

  color: #835afd;
  transition: background 0.4s, opacity 0.2s;
  border: 0;
  border-top: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  padding: 0 32px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}

@media (min-width: 700px) {
  .button {
    &:not(:disabled):hover {
      background: #6F4BD8;
      color: #fff;
    }
  
    &:active {
      opacity: 0.5;
    }
  }
}